@page
@model BadmintonRentingRazorWebApp.Pages.ScheduleView.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Schedule.ScheduleName" class="control-label"></label>
                <input asp-for="Schedule.ScheduleName" class="form-control" />
                <span asp-validation-for="Schedule.ScheduleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.StartTimeFrame" class="control-label"></label>
                <input asp-for="Schedule.StartTimeFrame" class="form-control" />
                <span asp-validation-for="Schedule.StartTimeFrame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.EndTimeFrame" class="control-label"></label>
                <input asp-for="Schedule.EndTimeFrame" class="form-control" />
                <span asp-validation-for="Schedule.EndTimeFrame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.Price" class="control-label"></label>
                <input asp-for="Schedule.Price" class="form-control" />
                <span asp-validation-for="Schedule.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.TotalHours" class="control-label"></label>
                <input asp-for="Schedule.TotalHours" class="form-control" />
                <span asp-validation-for="Schedule.TotalHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
