@page
@model BadmintonRentingRazorWebApp.Pages.BookingView.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.CreatedAt" class="control-label"></label>
                <input asp-for="Booking.CreatedAt" class="form-control" />
                <span asp-validation-for="Booking.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.TotalPrice" class="control-label"></label>
                <input asp-for="Booking.TotalPrice" class="form-control" />
                <span asp-validation-for="Booking.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookingType" class="control-label"></label>
                <input asp-for="Booking.BookingType" class="form-control" />
                <span asp-validation-for="Booking.BookingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckInStatus" class="control-label"></label>
                <input asp-for="Booking.CheckInStatus" class="form-control" />
                <span asp-validation-for="Booking.CheckInStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.IsStatus" class="control-label"></label>
                <input asp-for="Booking.IsStatus" class="form-control" />
                <span asp-validation-for="Booking.IsStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CustomerId" class="control-label"></label>
                <select asp-for="Booking.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Booking.PaymentType" class="control-label"></label>
                <input asp-for="Booking.PaymentType" class="form-control" />
                <span asp-validation-for="Booking.PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <h2>
        @Model.Message
    </h2>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
